[submodule "Kepler/ThirdParty/spdlog"]
	path = Kepler/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kepler/ThirdParty/glfw"]
	path = Kepler/ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "Kepler/ThirdParty/glm"]
	path = Kepler/ThirdParty/glm
	url = https://github.com/g-truc/glm
