[submodule "Kepler/ThirdParty/spdlog"]
	path = Kepler/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kepler/ThirdParty/glfw"]
	path = Kepler/ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "Kepler/ThirdParty/glm"]
	path = Kepler/ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "Kepler/ThirdParty/tinygltf"]
	path = Kepler/ThirdParty/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "Kepler/ThirdParty/imgui"]
	path = Kepler/ThirdParty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Kepler/ThirdParty/miniaudio"]
	path = Kepler/ThirdParty/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "Kepler/ThirdParty/entt"]
	path = Kepler/ThirdParty/entt
	url = https://github.com/skypjack/entt
